#profile{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: var(--main-background-color);
    border: solid 1px var(--secondary-background-color);
    border-radius: 20px;
    padding: 1.5rem;
    vertical-align: top;
    grid-row: 1;

}
.section{
    height: 45%;
    width: 100%;
    display: grid;
    grid-template-rows: 68% 10% 10%;
    row-gap: 1rem;
    border-bottom: solid 1px var(--secondary-background-color);
    margin-bottom: 2rem;
}
.profile-photo-block{
    text-align: center;
    width: 100%;
    background-color: var(--main-background-color);
    border-radius: 2rem;
    box-shadow: -0.02rem -0.02rem 0.01rem 0.01rem var(--secondary-background-color);
    horiz-align: center;
}
.profile-photo-block img{
    object-fit: fill;
    border-radius: 2rem;
    height: 100%;
    width: 100%;

}
#profile .name-block{
    align-content: center;
}
#profile .name-block .name{
    text-align: center;
    font-size: var(--h1-font-size);
    font-weight: 400;
}
#profile .profession{
    display: inline-block;
    background-color: var(--secondary-background-color);
    border-radius: 10px;
    font-weight: lighter;
    font-size: var(--h5-font-size);
    text-align: center;
}
#profile .profession p{
    margin-top: 0.5rem;
}

#profile .contacts{
    width: 100%;
    display: block;
}
#profile .contacts .contact-details-list{
    padding:0;
    list-style-type: none;
    display: grid;
    column-gap: 0.1rem;
}
.contact-details-list li{
    display: grid;
    grid-template-columns: 10% auto;
    column-gap: 1rem;
    vertical-align: center;
    margin: 1.5rem 0.2rem;
}
#profile .contacts .contact-details-list .icon-box{
    horiz-align: center;
    text-align: center;
    box-shadow: -0.05rem -0.05rem  var(--secondary-background-color);
    padding: 0 0.2rem 0 0.25rem;
    border-radius: 5px;
    vertical-align: center;
    font-size: larger;
    color: var(--secondary-color);
    display: inline;
}
.icon-box i{
    margin-top: 0.5rem;
}
#profile .contact-details-list h1{
    color: var(--heading-color);
    font-weight: lighter;
    font-size: var(--h6-font-size);
}
#profile .contact-details-list .contact-details p{
    font-size: var(--h4-font-size);
    font-weight: lighter;
    color: var(--paragraph-color);
}

.social-icons{
    display: block;
    horiz-align: center;
    text-align: center;
}
.icons-list{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 0;
    list-style-type: none;
}

.icons-list li i{
    font-size: var(--h3-font-size);
    color: var(--heading-color);
}

.icons-list li i:hover{
    color: var(--main-font-color);
}

@media screen and (max-width: 600px) {
    #profile{
        position: relative;
    }
    .profile-photo-block img{
        object-fit: scale-down;

    }
    #profile .profession p{
        margin-top: 1rem;
    }
}